.page-heading-container{
    height: 60px;
    border-radius: 0px 0px 4px 4px;
    border-top: 1px solid var(--foundation-brand-color-black-b-30, #ECECEC);
    background: var(--foundation-brand-color-black-b-0, #FFF);
}